In [3]:
import pandas as pd

In [4]:
#load the csv file
df_exams=pd.read_csv("sample_data/StudentsPerformance.csv")

In [5]:
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

**1 Value Counts**

In [8]:
#counting gender elements

#len function(python inbuild function)
len(df_exams['gender'])

#Another way we can use the count() in pandas
df_exams['gender'].count()

np.int64(1000)

In [9]:
#what if we want to count the males or females from our category
df_exams['gender'].value_counts()     #make sure the column has only two values

gender
female    518
male      482
Name: count, dtype: int64

In [10]:
#with the value_counts() we can do more with it e.g return the relative frequency(divide all values by the sum of values)
df_exams['gender'].value_counts(normalize=True)    #this is the %

gender
female    0.518
male      0.482
Name: proportion, dtype: float64

In [11]:
#Another example
#count the elements by category
df_exams['parental level of education'].value_counts()

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [12]:
#return the relative frequency and round to 2 decimal
df_exams['parental level of education'].value_counts(normalize=True).round(2)

parental level of education
some college          0.23
associate's degree    0.22
high school           0.20
some high school      0.18
bachelor's degree     0.12
master's degree       0.06
Name: proportion, dtype: float64